{% url 'home' as url_home %}
{% url 'features_list' as url_features %}
{% url 'team' as url_team %}
{% url 'about' as url_about %}

<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{{url_home}}" class="nav-link
                {% if request.path == url_home %}
                    active" aria-current="page">
                {% else %}
                ">
                {% endif %}
                Accueil</a></li>
        <li class="nav-item"><a href="{{url_features}}" class="nav-link
                {% if request.path == url_features %}
                    active" aria-current="page">
                {% else %}
                ">
                {% endif %}
                Fonctionnalités</a></li>
        <li class="nav-item"><a href="{{url_team}}" class="nav-link
                {% if request.path == url_team %}
                    active" aria-current="page">
                    {% else %}
                    ">
                    {% endif %}
                Qui sommes-nous ?</a></li>
        <li class="nav-item"><a href="{{url_about}}" class="nav-link
                {% if request.path == url_about %}
                    active" aria-current="page">
                {% else %}
                    ">
                {% endif %}
                À propos</a></li>
      </ul>
    </header>
  </div>

